<div class="container" style="margin: 1%;">
  <div class="row">
    <div class="col-sm-3">
      Layout:
      <div class="btn-group">
        <button class="btn btn-default btn-sm" >
          <i class="glyphicon glyphicon-th-list"></i>
        </button>
        <button class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-th-large"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-3">
      Sort:
      <div class="btn-group">
        <button class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-sort-by-order"></i>
        </button>
        <button class="btn btn-default btn-sm">
          <i class="glyphicon glyphicon-sort-by-order-alt"></i>
        </button>
      </div>
    </div>
    <div class="col-sm-6">
      <input type="search" placeholder="Search..." class="form-control">

    </div>
  </div>
</div>
<div class="home-page-background">
  <h1>Lorem ipsum dolor sit amet</h1>
  <div>consectetur adipiscing elit, sed do eiusmod tempor</div>
  <div>
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
  </div>
  <h1>{{ date | timePipe }}</h1>
</div>
<div class="col-md-3">
  <app-product-filter
    (selectedCategoriesEmmiter)="selectCategory($event)"
  ></app-product-filter>
</div>
<div class="col-md-9">
  <app-product-list [products]="filterdProducts"></app-product-list>
</div>
